body {
    background-color: #a37759;
}
h1 {
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}
.lotustext span {
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(50px);
    display: inline-block;
} 
span.fade {
    opacity: 1;
    transform: translateY(0px);
}
.gallery {
    width: 500px;
    display: flex;
    overflow-x: scroll;
}
.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
}
.gallery::-webkit-scrollbar {
    display: none;
}
.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 100px;
}
#backBtn, #nextBtn {
    width: 75px;
    cursor: pointer;
}
.lotus img {
    width: 525px;
    height: 525px;
    position: fixed;
    right: 125px;
    bottom: 5px;
}
.lotus {
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
0% {
    transform: scale(1.03);
    transform: scale(1.03);
}
50% {
   transform: scale(0.97);
   transform: scale(0.97);
}
100% {
    transform: scale(1);
   transform: scale(1);
}
}
.home img{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 5px;
    top: 5px;
}