main {
    background-color: #F2DFDF;
    height: 40vh;
    padding: 40vw;
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10vw;
    border-radius: 100%;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
0% {
    transform: scale(1.03);
    transform: scale(1.03);
}
50% {
   transform: scale(0.97);
   transform: scale(0.97);
}
100% {
    transform: scale(1);
   transform: scale(1);
}
}


button:hover{
    background-color: #FF0000;
}