img {
    width: 230px;
    height: 230px;
}
body {
    background-image: url('holi.HEIC');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
}
h1:hover{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    position: relative;
    animation-name: grow;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes grow {
    0%{transform: scale(0.5);}
    25%{transform: scale(1);}
    50%{transform: scale(1.5);}
    75%{transform: scale(2);}
    100%{transform: scale(2.5);}
}